[Unit]
Description=GPS-Project
Documentation=
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/local/bin/gps-project

[Service]
WorkingDirectory=/usr/local/

User=root
Group=staff

ExecStart=/usr/local/bin/gps-project -spaceid $HERE_XYZ_SPACE_ID -token $HERE_XYZ_TOKEN -url $GPS_PROJECT_DOWNLOAD_URL

Restart=always

LimitNOFILE=65536

TimeoutStopSec=infinity
SendSIGKILL=no

[Install]
WantedBy=multi-user.target